<a href="https://colab.research.google.com/github/patsawut555/kku_data_mining/blob/master/Final%20Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. จากข้อมูล (```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv```) ใน http://qr.tebs.io/6zqwEf สร้าง model เพื่อทำนาย (Classification) ว่าผลการ search เป็นร้านอาหารหรือไม่(```is_food = = True```) โดยพิจารณาจาก 
- วันในสัปดาห์ที่ทำการ search (```Monday-Sunday```) 
- วันในที่ทำการ search (```1-31```)
- เวลาที่ทำการ search (```1-24```)
หมายเหตุที่ 1 สามารถใช้ function ที่ให้มาช่วยในการทำงานได้
1. ```extract_time()``` ซึ่ง input เป็น ```timestamp``` และ output เป็น ```เวลาที่ทำการ search``` ```วันในที่ทำการ search``` ```วันในสัปดาห์ที่ทำการ search```

2. ```is_food``` ซึ่ง input เป็น ```category_name``` และ ```output``` เป็น คำตอบว่า ```เป็นร้านอาหารหรือไม่```

หมายเหตุที่ 2 ควรเตรียมข้อมูลโดยรวมข้อมูลจาก ตาราง ```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv```

In [1]:
import pandas

In [2]:

from google.colab import drive
drive.mount('/content/drive')

path  ='/content/drive/My Drive/DWDM_material'

Mounted at /content/drive

In [3]:
import os

In [4]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

In [21]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')
search_request = os.path.join(path,'search_request')

In [6]:
 search_click_df = pandas.read_csv(search_click)

In [7]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [8]:
w_restaurant_df = pandas.read_csv(w_restaurant)

In [9]:
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

In [24]:
search_request = pd.read_csv (search_request)

FileNotFoundError: ignored

# 2. จากข้อมูล (```reduced_marketbasket.csv```) ใน http://qr.tebs.io/6zqwEf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ ```United Kingdom``` กับ ประเทศอื่นๆ (```'Country'!='United Kingdom'```)

In [13]:
import pandas as pd

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
path = '/content/drive/My Drive/DWDM_material'

In [16]:
import os
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [17]:
Sum_Quantity = data.groupby('Country').sum().sort_values('Quantity',ascending=False)
Sum_Quantity

                      Quantity     UnitPrice    CustomerID
Country
United Kingdom         4263829  2.245715e+06  5.626433e+09
Netherlands             200128  6.492550e+03  3.419054e+07
EIRE                    142637  4.844719e+04  1.103917e+08
Germany                 117448  3.766600e+04  1.200751e+08
France                  110480  4.303199e+04  1.076489e+08
Australia                83653  4.054750e+03  1.569300e+07
Sweden                   35637  1.806830e+03  6.790083e+06
Switzerland              30325  6.813690e+03  2.377592e+07
Spain                    26824  1.263345e+04  3.268929e+07
Japan                    25218  8.148600e+02  4.567292e+06
Belgium                  23152  7.540130e+03  2.571829e+07
Norway                   19247  6.529060e+03  1.350765e+07
Portugal                 16180  1.303754e+04  1.886480e+07
Finland                  10666  3.786850e+03  8.699324e+06
Channel Islands           9479  3.738550e+03  1.128522e+07
Denmark                   8188  1.266950e+03  4.876734e+06
Italy                     7999  3.879390e+03  1.015666e+07
Cyprus                    6317  3.920070e+03  7.715880e+06
Singapore                 5234  2.510889e+04  2.918376e+06
Austria                   4827  1.701520e+03  5.021102e+06
Hong Kong                 4769  1.224150e+04  0.000000e+00
Israel                    4353  1.079040e+03  3.164467e+06
Poland                    3653  1.422270e+03  4.341972e+06
Unspecified               3300  1.204010e+03  3.348046e+06
Canada                    2763  9.105800e+02  2.615483e+06
Iceland                   2458  4.812100e+02  2.247154e+06
Greece                    1556  7.132900e+02  2.008584e+06
USA                       1034  6.449800e+02  3.672086e+06
United Arab Emirates       982  2.298900e+02  1.018952e+06
Malta                      944  6.660100e+02  2.158496e+06
Lithuania                  652  9.944000e+01  5.366200e+05
Czech Republic             592  8.815000e+01  3.834300e+05
European Community         497  2.940500e+02  9.215880e+05
Lebanon                    386  2.424400e+02  5.743800e+05
Brazil                     356  1.426000e+02  4.086080e+05
RSA                        352  2.481000e+02  7.218680e+05
Bahrain                    260  8.657000e+01  2.100270e+05
Saudi Arabia                75  2.411000e+01  1.256500e+05

In [26]:
table = data[data['Country']=='United Kingdom']
table

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541889    581585     22466  ...    15804.0  United Kingdom
541890    581586     22061  ...    13113.0  United Kingdom
541891    581586     23275  ...    13113.0  United Kingdom
541892    581586     21217  ...    13113.0  United Kingdom
541893    581586     20685  ...    13113.0  United Kingdom

[495478 rows x 8 columns]

# 3. เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ

 print = คำสั่งที่ใช้ในการแสดงข้อมูลที่ต้องการ

Data Mining =กระบวนการจัดการกับข้อมูลจํานวนมากเพื่อค้นหารูปแบบและความสัมพันธ์ที่ซ่อนอยู่ในชุดข้อมูลนั้น

import = คำสั่งที่ใช้ในการดึงข้อมูลเข้ามา

input = การนำข้อมูลเข้ามา

output = การแสดงผลข้อมูลออกมา

if = คำสั่งที่ใช้แสดงเงื่อนไขหลัก

else = คำสั่ที่ใช้แสดงเงื่อนไขรอง

Classification = การทำนาย

Relational  = ความสัมพันธ์ของข้อมูล

Knowledge Base = ความรู้เฉพาะด้านในงาน

Evaluation = การประเมิน

Data Transformation = เป็นขั้นตอนการแปลงข้อมูล

Data Selection = การดึงข้อมูลสำหรับการวิเคราะห์จากแหล่งที่บันทึกไว้

Data Integration =การรวมข้อมูลที่มีหลายแหล่งให้เป็นข้อมูลชุดเดียวกัน

Data Cleaning = การคัดข้อมูลที่ไม่เกี่ยวข้องออกไป

Test = การทดลอง

train = การสร้างโมเดล