<a href="https://colab.research.google.com/github/patsawut555/kku_data_mining/blob/master/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas

In [22]:
from google.colab import drive
drive.mount('/content/drive')

path  ='/content/drive/My Drive/DWDM_material'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
import os

In [24]:
search_click = os.path.join(path,'search_click.csv')
w_restaurant = os.path.join(path,'w_restaurant.csv')

In [25]:
search_click_df = pandas.read_csv(search_click)

In [26]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [27]:
w_restaurant_df = pandas.read_csv(w_restaurant)

To check if

In [28]:
search_click_df['search_id'][20]

'0b3baa5d-1ce2-4f37-9ed2-337ccf39a81e'

In [29]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

##.iloc

In [30]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [31]:
search_click_df.iloc[:10,:2]

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

#Missing Value

In [32]:
search_click_df.isnull()

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [33]:
search_click_df_nm = search_click_df .dropna()

In [34]:
search_click_df.isnull().any()

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [35]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

##Excercise 1 ตรวจสอบว่า การลบข้อมูล missing ออก จากตาราง w_restaurant จะทำให้ข้อมูลลดลงกั้%

In [37]:
size_before_drop = w_restaurant_df.shape[0]
size_after_drop = w_restaurant_df.dropna().shape[0]

print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop} \
    \nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

size before drop = 246847
size after drop = 4
which is 99.99837956304918

In [38]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [39]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

#method 1.5

In [40]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

In [41]:
w_restaurant_df.dropna(subset=['id','name','price_range']).shape

(180972, 32)

#Method 2

In [ ]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [ ]:
w_restaurant_df.isnull().any()

# Method 3

In [ ]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

#[PD] select data

In [ ]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

In [ ]:
new_table[selected_list].head()

#หาราคาเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

1. เลือกเฉพาะ กทม

In [ ]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

2. ลบ missing

In [ ]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

3. เลือกเฉพาะ  column 'avg_price'

In [ ]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

4. หาค่าเฉลี่ย

In [ ]:
bkk_table_dp_avg_price.mean()

#แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [ ]:
bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

In [ ]:
#bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
#bkk_table.head()

#Ex 9 หาราคาเฉลี่ยของร้านในจังหวัดเชียงใหม่

[PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data) pd.concat

In [ ]:
cm_table = new_table[new_table['city_name']=='Chiang Mai']
cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
cm_table.head()

In [ ]:
pd_concat = pandas.concat([bkk_table,cm_table])
pd_concat

Method 3 Looping (concat)

1. ดึงจังหวัดที่มีอยู่ทั้งหมดในตารางออกมา

In [ ]:
all_cities = set(new_table['city_name'])
len(all_cities)

2. คำนวณค่า mean ของ column 'city_name' เพื่อเก็บไว้เติมใส่
เมืองที่เป็น missing ทุกร้าน

In [ ]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

3. สร้าง list ของตารางของทุกๆจังหวัด

In [ ]:
all_cities_list = []
for each_city in list(all_cities):

    # cm_table = new_table[new_table['city_name']=='Chiang Mai']
    # cm_table[['avg_price']] = cm_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean())
 
    temp_table = new_table[new_table['city_name']==each_city]
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

4. สร้างตารางจาก list ของตาราง ด้วย pd.concat

In [ ]:
all_no_missing = pandas.concat(all_cities_list)
all_no_missing

5. เติมค่า mean ของทั้งตารางให้กับจังหวัดที่ไม่มี mean

In [ ]:
all_no_missing = all_no_missing.fillna(all_mean)
all_no_missing.isnull().any()

In [ ]:
all_no_missing

#Remove Outlier (boxplot)

Quiz วาด boxplot ของ ค่า 'avg_price' ของตาราง all_no_missing (แนวนอน)

In [44]:
from matplotlib import pyplot as plt

In [45]:
ret = plt.boxplot(all_no_missing['avg_price'],vert=False)

NameError: ignored

In [ ]:
print(ret['whiskers'][0].get_xdata()[1])
print(ret['whiskers'][1].get_xdata()[1])

In [ ]:
nooutlier_nomissing = all_no_missing[all_no_missing['avg_price']>=ret['whiskers'][0].get_xdata()[1]]
nooutlier_nomissing = nooutlier_nomissing[nooutlier_nomissing['avg_price']<=ret['whiskers'][1].get_xdata()[1]]
nooutlier_nomissing


*   ~~ Smooth data (binning) ~~
*   Reduce Data (Deduplication (remove duplication), sampling (randomly select data) vs PCA (reduce dimensions of data))
*   Data Integration (combine 2 tables vs copy some columns from another table)

#1. Adding a field from other table
or merge the entire tables https://www.kaggle.com/crawford/python-merge-tutorial/#

one selected column
.map()

In [ ]:
search_click_df['bu_name'] = search_click_df['business_id'].map(w_restaurant_df.set_index('id')['name'])

In [ ]:
search_click_df

merge two tables
.merge()

In [ ]:
merged_table = search_click_df.merge(w_restaurant_df,how='left',left_on='business_id',right_on='id')

In [ ]:
merged_table

#4. One-hot-encoder for Categorical data

In [ ]:
w_restaurant_df = pandas.get_dummies(w_restaurant_df, columns=['wifi'])

In [ ]:
w_restaurant_df

#8. Group By -- Aggregation
https://www.kaggle.com/crawford/python-groupby-tutorial#

 #<img src="https://github.com/tohnperfect/KKU_Data_Mining/blob/master/03.08-split-apply-combine.png?raw=1">

In [ ]:
groups = search_click_df.groupby('business_id')

In [ ]:
groups

In [ ]:
groups.count()

In [ ]:
count_table=groups.count().reset_index()

In [ ]:
w_restaurant_df['num_click'] = w_restaurant_df['id'].map(count_table.set_index('business_id')['ads'])

In [ ]:
w_restaurant_df

In [ ]:
## Build a table which only shows id, name, rating, num_clicks. How?

#12. Save to use with other applications

In [ ]:
search_click_df.to_csv('search_click_extracted_time.csv')

<img src="https://github.com/tohnperfect/KKU_Data_Mining/blob/master/panda_end2.jpg?raw=1"> 
jupyter nbconvert "Basic ELT with Pandas.ipynb" --to pdf