<a href="https://colab.research.google.com/github/patsawut555/kku_data_mining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import os
import pandas as pd

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
path ='/content/drive/My Drive/DM_Project'

In [24]:
TestData_type = os.path.join(path,'TestData.csv')
TrainData_type = os.path.join(path,'TrainData.csv')

In [25]:
TestData_type = pd.read_csv(TestData_type)
TestData_type

          ID  Gender Ever_Married  ...  Family_Size  Var_1 Segmentation
0     458989  Female          Yes  ...          1.0  Cat_6            B
1     458994    Male          Yes  ...          4.0  Cat_6            A
2     458996  Female          Yes  ...          1.0  Cat_6            A
3     459000    Male          Yes  ...          2.0  Cat_6            B
4     459001  Female           No  ...          4.0  Cat_6            A
...      ...     ...          ...  ...          ...    ...          ...
2622  467954    Male           No  ...          4.0  Cat_6            B
2623  467958  Female           No  ...          1.0  Cat_6            A
2624  467960  Female           No  ...          2.0  Cat_6            C
2625  467961    Male          Yes  ...          5.0  Cat_4            C
2626  467968  Female           No  ...          3.0  Cat_7            A

[2627 rows x 11 columns]

In [26]:
TrainData_type = pd.read_csv(TrainData_type)
TrainData_type

          ID  Gender Ever_Married  ...  Family_Size  Var_1 Segmentation
0     462809    Male           No  ...          4.0  Cat_4            D
1     462643  Female          Yes  ...          3.0  Cat_4            A
2     466315  Female          Yes  ...          1.0  Cat_6            B
3     461735    Male          Yes  ...          2.0  Cat_6            B
4     462669  Female          Yes  ...          6.0  Cat_6            A
...      ...     ...          ...  ...          ...    ...          ...
8063  464018    Male           No  ...          7.0  Cat_1            D
8064  464685    Male           No  ...          4.0  Cat_4            D
8065  465406  Female           No  ...          1.0  Cat_6            D
8066  467299  Female           No  ...          4.0  Cat_6            B
8067  461879    Male          Yes  ...          3.0  Cat_4            B

[8068 rows x 11 columns]

In [27]:
TestData_type.isnull().any()

ID                 False
Gender             False
Ever_Married        True
Age                False
Graduated           True
Profession          True
Work_Experience     True
Spending_Score     False
Family_Size         True
Var_1               True
Segmentation       False
dtype: bool

In [28]:
TrainData_type.isnull().any()

ID                 False
Gender             False
Ever_Married        True
Age                False
Graduated           True
Profession          True
Work_Experience     True
Spending_Score     False
Family_Size         True
Var_1               True
Segmentation       False
dtype: bool

In [29]:
merge_table = TestData_type.merge(ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Family_Size,Var_1,Segmentation)
merge_table

NameError: ignored